{"openapi":"3.1.0","info":{"title":"Printr API","version":"0.0.1","description":"Printr is the first chain-abstracted token creation platform that enables seamless deployment\nand trading across many blockchain networks. Built on Axelar Network's and LayerZero's\ncross-chain infrastructure, Printr eliminates the complexity of multi-chain token management by\nproviding a unified interface for creating, discovering, and trading tokens across any\nsupported blockchain.\n\nThe API provides programmatic access to Printr's core functionality, enabling developers to\nintegrate omni-chain token creation capabilities into their applications. Whether you're\nbuilding a DeFi platform, marketplace, or trading interface, the Printr API handles all\ncross-chain (x-chain) complexity behind the scenes.\n\nKey features:\n- Create tokens on multiple chains simultaneously with a single API call\n- Unified liquidity across all supported networks through automated bonding curves\n- X-chain trading and arbitrage capabilities\n- Real-time deployment status tracking across chains\n- Comprehensive token discovery and analytic\n- X-chain price charts\n\n**This API is currently in beta. Breaking changes may occur as we refine the platform based on\npartner feedback.**\n","contact":{"email":"hello@printr.money"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://api-preview.printr.money/v0","description":"Partner Preview API (beta)"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Creation","description":"Create and deploy tokens across multiple blockchain networks. Leveraging technologies like\nAxelar Network's Interchain Token Service (ITS) and LayerZero's cross-chain messaging,\nPrintr provides seamless x-chain token deployment with unified liquidity management.\n\n## Home Chain and Cascading Deployments\nEvery token has a \"home chain\" (also called \"origin chain\") where the initial creation\ntransaction occurs. From this home chain, deployments cascade to additional chains through\none of our supported x-chain protocol providers.\n\n_DEV NOTE: We may rename \"home chain\" to \"origin chain\" (or something akin) in the future\nfor a more intuitive understanding to the consumers of this API._\n\n**During Printr's beta period, the graduation threshold for each chain is locked at $1,000\nUSD.**\n"},{"name":"Discovery","description":"Explore and discover tokens across the Printr ecosystem.\n"},{"name":"Trading","description":"_coming soon_\n"}],"paths":{"/print/quote":{"post":{"summary":"Get Token Creation Quote","description":"Calculates comprehensive costs for creating a token across multiple blockchain networks before\ncommitting to the creation process.\n\n## Quote Calculation\nThe quote includes:\n- **Deployment Costs**: Gas fees for deploying contracts on each selected chain\n- **X-Chain Messaging Fees**: X-chain protocol fees for coordinating deployments\n- **Initial Buy Costs**: Amount required for the initial token purchase based on your configuration\n\n## Chain Specification\nThe first chain in the array becomes the \"home chain\" where the primary deployment occurs.\nAdditional chains receive deployments through cascading x-chain messages.\n","operationId":"getPrintQuote","security":[{"bearerAuth":[]}],"tags":["Creation"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPrintQuote_Request"},"examples":{"withSupplyPercent":{"summary":"Quote with supply percentage","value":{"chains":["eip155:8453","eip155:42161"],"initial_buy":{"supply_percent":10},"graduation_threshold_per_chain_usd":1000000}},"withUsdAmount":{"summary":"Quote with USD amount","value":{"chains":["solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"],"initial_buy":{"spend_usd":1000},"graduation_threshold_per_chain_usd":69000}},"withNativeAmount":{"summary":"Quote with native token amount","value":{"chains":["eip155:8453","eip155:43114"],"initial_buy":{"spend_native":"1.5"}}}}}}},"responses":{"200":{"description":"Quote calculated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPrintQuote_Response"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}},"components":{"GetPrintQuote_Request":{"type":"object","required":["chains","initial_buy"],"properties":{"chains":{"type":"array","description":"Array of CAIP-2 chain identifiers where the token will be deployed.\nThe first indexed chain will be treaded as the home chain for the\ndeployment transaction.\n","items":{"$ref":"#/components/schemas/CAIP_2_Chain"},"minItems":1,"uniqueItems":true},"initial_buy":{"$ref":"#/components/schemas/VariableInitialBuy"},"graduation_threshold_per_chain_usd":{"type":"integer","minimum":15000,"maximum":1000000,"description":"The graduation threshold (bonding curve size) per chain in USD. Min: $15,000, max: $1,000,000. Defaults to $69,000 USD.\n"},"custom_fees":{"type":"object","description":"Optional custom fee configuration.\nFees are in basis points (100 bps = 1%).\nIf omitted, defaults are used.\n","properties":{"bonding_curve_dev_fee_bps":{"type":"integer","minimum":0,"maximum":120},"amm_dev_fee_bps":{"type":"integer","minimum":0,"maximum":140}}},"fee_sink":{"type":"string","enum":["dev","stake_pool","buyback","liquidity_pool"],"description":"Where telecoin fees are directed.\n- dev: Creator wallet receives fees (default)\n- stake_pool: Proof of Belief staking pool rewards stakers\n- buyback: Buy back and burn tokens (Solana only)\n- liquidity_pool: Compound fees into LP (Solana only, post-graduation)\nDefaults to \"dev\" if omitted.\n"},"telecoin_supply_on_curve_ratio_bps":{"type":"integer","minimum":6000,"maximum":8500,"description":"Ratio of the telecoin supply sold on the bonding curve, in basis points.\nThe remainder is deposited into the AMM after graduation.\nCan be used to control initial market cap.\nSee docs for formulas.\nOmit or use 0 for a default.\n"},"max_telecoin_supply":{"type":"string","enum":["100_million","1_billion","10_billion"],"description":"The maximum total telecoin supply across all chains.\nDefaults to 1 billion if omitted.\n"}},"additionalProperties":false},"GetPrintQuote_Response":{"type":"object","required":["quote"],"properties":{"quote":{"$ref":"#/components/schemas/Quote"}},"additionalProperties":false}}}},"/print":{"post":{"summary":"Create Token","description":"Initiates the creation of a new token with simultaneous deployment across multiple blockchain\nnetworks. This endpoint orchestrates the entire token creation process from initial deployment\nto x-chain propagation.\n\n## Token Creation Process\n1. **Validation**: Verifies token metadata and deployment parameters\n2. **X-Chain Preparation**: Prepares Axelar messages for remote deployments\n3. **Payload Generation**: Creates the transaction calldata for the home chain\n4. **Catalog Registration**: Registers the token in Printr's discovery system\n\n## Creator Account and Home Chains\nThe creator account is a CAIP-10 account identifier that couples a chain identifier and a\nspecific address. The single field `creator_account` is used to specify both the creators\nwallet address, in addition to the expected home chain for the token.\n\n## Transaction Execution\nThe response includes transaction calldata that must be:\n1. Signed by the creator's wallet specified in the creator_account field\n2. Submitted to the home chain\n3. Confirmed on-chain to trigger cascading deployments\n\n## Image Requirements\nToken images must be:\n- Base64 encoded\n- Maximum 500KB in size\n- Square aspect ratio recommended\n- GIF, PNG, or JPEG format\n","operationId":"printToken","security":[{"bearerAuth":[]}],"tags":["Creation"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrintToken_Request"},"examples":{"singleChainSol":{"summary":"Single Chain Token (Solana)","value":{"creator_accounts":["solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp:7S3P4HxJpyyigGzodYwHtCxZyUQe9JiBMHyRWXArAaKv"],"name":"Panda on SOL","symbol":"PNDA","description":"Pandas printing on Printr perfectly predict prosperous plays into perpetuity.","image":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wEEEAAfAB8AHwAfACEAHwAjACYAJgAjADAANAAuADQAMABHAEEAPAA8AEEARwBsAE0AUwBNAFMATQBsAKMAZgB3AGYAZgB3AGYAowCQAK8AjgCEAI4ArwCQAQMAzAC0ALQAzAEDASwA/ADuAPwBLAFrAUQBRAFrAckBsgHJAlUCVQMjEQAfAB8AHwAfACEAHwAjACYAJgAjADAANAAuADQAMABHAEEAPAA8AEEARwBsAE0AUwBNAFMATQBsAKMAZgB3AGYAZgB3AGYAowCQAK8AjgCEAI4ArwCQAQMAzAC0ALQAzAEDASwA/ADuAPwBLAFrAUQBRAFrAckBsgHJAlUCVQMj/8IAEQgAQABAAwEiAAIRAQMRAf/EAC4AAAIDAQEAAAAAAAAAAAAAAAQFAAMGAQIBAQEBAAAAAAAAAAAAAAAAAAABAv/aAAwDAQACEAMQAAAA0MiwZxKSMKQaYO903KUvJzFjCDQYdEdyr76b4CQaHNajAVopOvkftdFelaZHZjVTUyFG0SC/rK2bDd0ls//EAC4QAAIBAwIEBAUFAQAAAAAAAAECAwAEERIhBRMxYRAiQVEjMkJTkRQVIIGCkv/aAAgBAQABPwD+LTIsipuSaurkQp5CpfbY1bXCzrnGD4cWeaK1BiJHnrhv6/Qdcv8A2Cxq8gvJIsR3IHYDFWgmuLHExIJOxq0hR5c88MQdWxqV7YT+Z/TLe21QQrGZGU7NjT2Hhfk/CUjMZberqR7HlLHMTG1c69FuJDL69MAHRXDZZG5gbcE60NSWxikMqSBB39Ku4U0a9R1v7bAmrHmGNi5PXari4jt4jI9XFy9zIS5IH0ioC0+zaGZNxq2NXM2vRJoAcAAE+oNcNulR+Qy7sdnqWISAbkYNS3bRStEI1ZFwMVbFyS2/LI2rjZ+DAPd6+kdNqFrc8vm6NhTPnHYfnvSOyyK67EHI/qobuSaMyyyFAOgSnSd0iUr1UaiRUDwriBH1FFrjUEjxxOgyEzqrJNWnE+VE6y/5okM51EAEk1pQjPnIHqBSvsFSJiAcgZNRS3MiJE+dLNVnBFHqKSBzUil45FGMlSKPCb4dEQ0eHX32KaGVJVjZFD9zSxPGcl4x2ClqLII2iLOQTq6Ba4S6DWkvz1HCkfyg+JUMCD0O1TcKl5qmGQYHvQ4ZKfnufwtftcX3ZKisoIyGK6nHqfD/xAAdEQABAwUBAAAAAAAAAAAAAAAAARAhESAxQmGB/9oACAECAQE/AHl1NrEy9OSeH//EABgRAAIDAAAAAAAAAAAAAAAAAAIREDBB/9oACAEDAQE/ALmK2P/Z","chains":["solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"],"initial_buy":{"supply_percent":5},"graduation_threshold_per_chain_usd":69000}},"xChainToken":{"summary":"X-Chain Token","value":{"creator_accounts":["eip155:8453:0x01a600927C6AFEC8480BDb36240a209736Cddb80","solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp:7S3P4HxJpyyigGzodYwHtCxZyUQe9JiBMHyRWXArAaKv"],"name":"Panda","symbol":"PNDA","description":"Pandas printing on Printr perfectly predict prosperous plays into perpetuity.","image":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wEEEAAfAB8AHwAfACEAHwAjACYAJgAjADAANAAuADQAMABHAEEAPAA8AEEARwBsAE0AUwBNAFMATQBsAKMAZgB3AGYAZgB3AGYAowCQAK8AjgCEAI4ArwCQAQMAzAC0ALQAzAEDASwA/ADuAPwBLAFrAUQBRAFrAckBsgHJAlUCVQMjEQAfAB8AHwAfACEAHwAjACYAJgAjADAANAAuADQAMABHAEEAPAA8AEEARwBsAE0AUwBNAFMATQBsAKMAZgB3AGYAZgB3AGYAowCQAK8AjgCEAI4ArwCQAQMAzAC0ALQAzAEDASwA/ADuAPwBLAFrAUQBRAFrAckBsgHJAlUCVQMj/8IAEQgAQABAAwEiAAIRAQMRAf/EAC4AAAIDAQEAAAAAAAAAAAAAAAQFAAMGAQIBAQEBAAAAAAAAAAAAAAAAAAABAv/aAAwDAQACEAMQAAAA0MiwZxKSMKQaYO903KUvJzFjCDQYdEdyr76b4CQaHNajAVopOvkftdFelaZHZjVTUyFG0SC/rK2bDd0ls//EAC4QAAIBAwIEBAUFAQAAAAAAAAECAwAEERIhBRMxYRAiQVEjMkJTkRQVIIGCkv/aAAgBAQABPwD+LTIsipuSaurkQp5CpfbY1bXCzrnGD4cWeaK1BiJHnrhv6/Qdcv8A2Cxq8gvJIsR3IHYDFWgmuLHExIJOxq0hR5c88MQdWxqV7YT+Z/TLe21QQrGZGU7NjT2Hhfk/CUjMZberqR7HlLHMTG1c69FuJDL69MAHRXDZZG5gbcE60NSWxikMqSBB39Ku4U0a9R1v7bAmrHmGNi5PXari4jt4jI9XFy9zIS5IH0ioC0+zaGZNxq2NXM2vRJoAcAAE+oNcNulR+Qy7sdnqWISAbkYNS3bRStEI1ZFwMVbFyS2/LI2rjZ+DAPd6+kdNqFrc8vm6NhTPnHYfnvSOyyK67EHI/qobuSaMyyyFAOgSnSd0iUr1UaiRUDwriBH1FFrjUEjxxOgyEzqrJNWnE+VE6y/5okM51EAEk1pQjPnIHqBSvsFSJiAcgZNRS3MiJE+dLNVnBFHqKSBzUil45FGMlSKPCb4dEQ0eHX32KaGVJVjZFD9zSxPGcl4x2ClqLII2iLOQTq6Ba4S6DWkvz1HCkfyg+JUMCD0O1TcKl5qmGQYHvQ4ZKfnufwtftcX3ZKisoIyGK6nHqfD/xAAdEQABAwUBAAAAAAAAAAAAAAAAARAhESAxQmGB/9oACAECAQE/AHl1NrEy9OSeH//EABgRAAIDAAAAAAAAAAAAAAAAAAIREDBB/9oACAEDAQE/ALmK2P/Z","chains":["eip155:8453","solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"],"initial_buy":{"supply_percent":5},"graduation_threshold_per_chain_usd":1000000}}}}}},"responses":{"201":{"description":"Token registered in Printr's catalog. Waiting for on-chain events to complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrintToken_Response"}}}}},"components":{"PrintToken_Request":{"type":"object","required":["creator_accounts","name","symbol","description","image","chains","initial_buy"],"properties":{"creator_account":{"$ref":"#/components/schemas/CAIP_10_Account","description":"CAIP-10 account identifier of the token creator.","deprecated":true},"creator_accounts":{"type":"array","description":"Array of CAIP-10 account identifiers for the token creator.","items":{"$ref":"#/components/schemas/CAIP_10_Account"},"minItems":1},"name":{"type":"string"},"symbol":{"type":"string"},"description":{"type":"string"},"image":{"type":"string","format":"byte"},"external_links":{"type":"object","description":"Optional external links related to the telecoin.\nEmpty strings are ignored.\n","properties":{"website":{"type":"string"},"x":{"type":"string"},"telegram":{"type":"string"},"github":{"type":"string"}}},"chains":{"type":"array","description":"Array of chains where the token will be deployed.","items":{"$ref":"#/components/schemas/CAIP_2_Chain"},"minItems":1,"maxItems":10,"uniqueItems":true},"initial_buy":{"$ref":"#/components/schemas/VariableInitialBuy"},"graduation_threshold_per_chain_usd":{"type":"integer","minimum":15000,"maximum":1000000,"description":"The graduation threshold (bonding curve size) per chain in USD. Min: $15,000, max: $1,000,000. Defaults to $69,000 USD.\n"},"custom_fees":{"type":"object","description":"Optional custom fee configuration.\nFees are in basis points (100 bps = 1%).\nIf omitted, defaults are used.\n","properties":{"bonding_curve_dev_fee_bps":{"type":"integer","minimum":0,"maximum":120},"amm_dev_fee_bps":{"type":"integer","minimum":0,"maximum":140}}},"fee_sink":{"type":"string","enum":["dev","stake_pool","buyback","liquidity_pool"],"description":"Where telecoin fees are directed.\n- dev: Creator wallet receives fees (default)\n- stake_pool: Proof of Belief staking pool rewards stakers\n- buyback: Buy back and burn tokens (Solana only)\n- liquidity_pool: Compound fees into LP (Solana only, post-graduation)\nDefaults to \"dev\" if omitted.\n"},"telecoin_supply_on_curve_ratio_bps":{"type":"integer","minimum":6000,"maximum":8500,"description":"Ratio of the telecoin supply sold on the bonding curve, in basis points.\nThe remainder is deposited into the AMM after graduation.\nCan be used to control initial market cap.\nSee docs for formulas.\nOmit or use 0 for a default.\n"},"max_telecoin_supply":{"type":"string","enum":["100_million","1_billion","10_billion"],"description":"The maximum total telecoin supply across all chains.\nDefaults to 1 billion if omitted.\n"}},"additionalProperties":false},"PrintToken_Response":{"type":"object","required":["token_id","payload","quote","payload_hash"],"properties":{"token_id":{"type":"string","description":"The cross-chain token identifier."},"payload":{"$ref":"#/components/schemas/Payload"},"quote":{"$ref":"#/components/schemas/Quote"}},"additionalProperties":false}}}},"/tokens/{id}":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"get":{"summary":"Get Token Details","description":"Retrieves comprehensive information about a token including metadata and immutable properties of\nthe bonding curve.\n\n## Cross-Chain Token Identity\nEach token has a unique x-chain identifier that remains consistent across all blockchain deployments.\nThis enables unified tracking regardless of which chain you're querying from.\n\n## Identifier\nThis endpoint accepts two formats for the `id` parameter.\n\nEither Printr specific **Telecoin ID** (hex string). This is a cross-chain unique identifier for the Printr token.\nAlternatively, use **Token Contract Address** (CAIP-10 format). This is the token's contract address on a specific chain (<https://chainagnostic.org>)\n\n_DEV NOTE: the token identity description may change when we integrate x-chain Solana deployments._\n","operationId":"getToken","security":[{"bearerAuth":[]}],"tags":["Discovery"],"parameters":[{"name":"id","in":"path","required":true,"description":"Telecoin ID or CAIP-10 CA","schema":{"type":"string"},"examples":{"tokenId":{"summary":"Telecoin ID format","value":"0x3a7a8dca0ad45491c23ff55c619609e914caf260199df93a5acc429e4dbeb1d4"},"ethereumAddress":{"summary":"Ethereum token contract address","value":"eip155:1:0x3a7a8dca0ad45491c23ff55c619609e914caf260199df93a5acc429e4dbeb1d4"},"solanaAddress":{"summary":"Solana mint address","value":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp:AfVZXLLDEyCxz3Fjk46n6bT2hmM2USjN1pusSzymHvJK"}}}],"responses":{"200":{"description":"Token information retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetToken_Response"}}}},"404":{"$ref":"#/components/responses/NotFound"}},"components":{"GetToken_Response":{"type":"object","required":["id","creatorAddresses","name","symbol","description","imageUrl","chains","createdAt","curveProperties"],"properties":{"id":{"type":"string","description":"Cross-chain unique identifier for the token"},"creatorAddresses":{"type":"array","items":{"$ref":"#/components/schemas/CAIP_10_Account"},"description":"List of creator addresses for the token"},"name":{"type":"string","description":"Token name"},"symbol":{"type":"string","description":"Token symbol"},"description":{"type":"string","description":"Token description"},"imageUrl":{"type":"string","description":"URL to token image"},"externalLinks":{"type":"object","description":"External links for the token","properties":{"website":{"type":"string"},"telegram":{"type":"string"},"x":{"type":"string"},"github":{"type":"string"}}},"chains":{"type":"array","items":{"$ref":"#/components/schemas/CAIP_2_Chain"},"description":"List of chains where token is deployed"},"curveProperties":{"type":"object","required":["homeChain","basePairAddresses","referenceAssetId","maxSupplyExponent","completionThresholdBasisPoints","graduationThresholdRefAtomic","initialPriceRefAtomic"],"properties":{"homeChain":{"type":"string","description":"The origin chain which was used to propagate the other remote creations."},"basePairAddresses":{"type":"array","items":{"type":"string"},"description":"List of base pair addresses for the token"},"referenceAssetId":{"type":"string","description":"The reference asset ID for the token"},"maxSupplyExponent":{"type":"integer","description":"The maximum supply exponent for the token"},"completionThresholdBasisPoints":{"type":"integer","description":"The completion threshold basis points for the token"},"graduationThresholdRefAtomic":{"type":"string","description":"The graduation threshold reference atomic for the token"},"initialPriceRefAtomic":{"type":"string","description":"The initial price reference atomic for the token"}},"additionalProperties":false}},"additionalProperties":false}}}},"/tokens/{id}/deployments":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"get":{"summary":"Get Token Deployment Status","description":"Monitors the real-time deployment status of a token across all target blockchain networks.\nEssential for tracking the cascading deployment process after token creation.\n\n## Deployment Lifecycle\nEach chain deployment progresses through these states:\n1. `**PENDING**`: The token has been cataloged by the Printr platform, however, we have not seen\n    any associayed on-chain activity related to the token yet.\n2. `**DEPLOYING**`: X-chain message sent via one of our x-chain protocol providers, and we're\n    awaiting confirmation that the deployment has suceeded.\n3. `**LIVE**`: The token has been deployed to the target chain and is ready for trading.\n4. `**FAILED**`: Deployment unsuccessful (with error details)\n\n## X-Chain Messaging\nFor remote chain deployments, track:\n- **Transport Provider**: X-chain messaging protocol (e.g., AXELAR, CORAL, LAYERZERO)\n- **Message ID**: The message identifier relevant to the transport protocol.\n\n## Identifier\nThis endpoint accepts two formats for the `id` parameter.\n\nEither Printr specific **Telecoin ID** (hex string). This is a cross-chain unique identifier for the Printr token.\nAlternatively, use **Token Contract Address** (CAIP-10 format). This is the token's contract address on a specific chain (<https://chainagnostic.org>)\n","operationId":"getTokenStatus","security":[{"bearerAuth":[]}],"tags":["Discovery"],"parameters":[{"name":"id","in":"path","required":true,"description":"Telecoin ID or CAIP-10 CA","schema":{"type":"string"},"examples":{"tokenId":{"summary":"Telecoin ID format","value":"0x3a7a8dca0ad45491c23ff55c619609e914caf260199df93a5acc429e4dbeb1d4"},"ethereumAddress":{"summary":"Ethereum token contract address","value":"eip155:1:0x3a7a8dca0ad45491c23ff55c619609e914caf260199df93a5acc429e4dbeb1d4"},"solanaAddress":{"summary":"Solana mint address","value":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp:AfVZXLLDEyCxz3Fjk46n6bT2hmM2USjN1pusSzymHvJK"}}}],"responses":{"200":{"description":"Token deployment status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTokenStatus_Response"}}}},"404":{"$ref":"#/components/responses/NotFound"}},"components":{"GetTokenStatus_Response":{"type":"object","required":["deployments"],"properties":{"deployments":{"type":"array","items":{"$ref":"#/components/schemas/TokenDeployment"}}},"additionalProperties":false}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Static JWT tokens will be used during development.\n\nThis will be substituted for OAuth2 client creds in future.\n"}},"schemas":{"CAIP_2_Chain":{"description":"Chain Agnostic Improvement Proposal (CAIP-2) blockchain identifier. Provides a standardized format for identifying any blockchain network regardless of its underlying technology stack. Format: {namespace}:{reference}\n\nExamples:\n- eip155:1 - Ethereum Mainnet\n- eip155:137 - Polygon\n- eip155:8453 - Base\n- solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp - Solana Mainnet\n","type":"string","pattern":"^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$","examples":["eip155:5000","solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"]},"BigInt":{"type":"string","pattern":"^[0-9]+$"},"VariableInitialBuy":{"type":"object","description":"Configures the initial token purchase executed during creation. This purchase bootstraps\nliquidity in the bonding curve and determines the starting price point. Exactly one\npurchase method must be specified.\n\n**Note:** The initial buy is capped to 69% of the total supply.\n\nOptions:\n- supply_percent: Purchase a percentage of total token supply\n- spend_usd: Purchase tokens worth a specific USD amount\n- spend_native: Purchase using a specific amount of native tokens\n","oneOf":[{"title":"Supply (%)","required":["supply_percent"],"properties":{"supply_percent":{"type":"number","format":"double","minimum":0.01,"maximum":69,"description":"Percentage of total supply to purchase (0.01-69)","example":10}}},{"title":"Spend (USD)","required":["spend_usd"],"properties":{"spend_usd":{"type":"number","format":"double","description":"USD amount to spend on initial purchase (must be less than 69% of the total supply)","example":500}}},{"title":"Spend (Native)","required":["spend_native"],"properties":{"spend_native":{"$ref":"#/components/schemas/BigInt","description":"Atomic native token amount to spend (must be less than 69% of the total supply)"}}}],"additionalProperties":false},"GetPrintQuote_Request":{"type":"object","required":["chains","initial_buy"],"properties":{"chains":{"type":"array","description":"Array of CAIP-2 chain identifiers where the token will be deployed.\nThe first indexed chain will be treaded as the home chain for the\ndeployment transaction.\n","items":{"$ref":"#/components/schemas/CAIP_2_Chain"},"minItems":1,"uniqueItems":true},"initial_buy":{"$ref":"#/components/schemas/VariableInitialBuy"},"graduation_threshold_per_chain_usd":{"type":"integer","minimum":15000,"maximum":1000000,"description":"The graduation threshold (bonding curve size) per chain in USD. Min: $15,000, max: $1,000,000. Defaults to $69,000 USD.\n"},"custom_fees":{"type":"object","description":"Optional custom fee configuration.\nFees are in basis points (100 bps = 1%).\nIf omitted, defaults are used.\n","properties":{"bonding_curve_dev_fee_bps":{"type":"integer","minimum":0,"maximum":120},"amm_dev_fee_bps":{"type":"integer","minimum":0,"maximum":140}}},"fee_sink":{"type":"string","enum":["dev","stake_pool","buyback","liquidity_pool"],"description":"Where telecoin fees are directed.\n- dev: Creator wallet receives fees (default)\n- stake_pool: Proof of Belief staking pool rewards stakers\n- buyback: Buy back and burn tokens (Solana only)\n- liquidity_pool: Compound fees into LP (Solana only, post-graduation)\nDefaults to \"dev\" if omitted.\n"},"telecoin_supply_on_curve_ratio_bps":{"type":"integer","minimum":6000,"maximum":8500,"description":"Ratio of the telecoin supply sold on the bonding curve, in basis points.\nThe remainder is deposited into the AMM after graduation.\nCan be used to control initial market cap.\nSee docs for formulas.\nOmit or use 0 for a default.\n"},"max_telecoin_supply":{"type":"string","enum":["100_million","1_billion","10_billion"],"description":"The maximum total telecoin supply across all chains.\nDefaults to 1 billion if omitted.\n"}},"additionalProperties":false},"CAIP_10_Account":{"description":"Chain Agnostic Improvement Proposal (CAIP-10) account identifier. Provides a universal format for identifying accounts across different blockchain networks. Format: {namespace}:{reference}:{account_address}\n\nExamples:\n- eip155:1:0xc33f294bae8f55554c7b786306eac562d8fe9566 - Ethereum address\n- solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp:7S3P4HxJpyyigGzodYwHtCxZyUQe9JiBMHyRWXArAaKv - Solana address\n","type":"string","pattern":"^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}:[-.%a-zA-Z0-9]{1,128}$","examples":["eip155:1:0xc33f294bae8f55554c7b786306eac562d8fe9566"]},"Asset":{"type":"object","description":"A representation of a token or asset associated with a specific chain.","required":["id","name","symbol","decimals","price_usd"],"properties":{"id":{"$ref":"#/components/schemas/CAIP_10_Account","description":"Reference asset identified as a CAIP-10 Account ID."},"name":{"type":"string","description":"The name of the asset."},"symbol":{"type":"string","description":"Symbol used to identify the denomination of the asset."},"decimals":{"type":"integer","description":"The number of decimals used to represent the asset."},"price_usd":{"type":"number","format":"double","description":"The estimated price of the asset in USD."}},"additionalProperties":false},"Cost":{"type":"object","required":["asset_id","cost_usd","cost_asset_atomic"],"properties":{"asset_id":{"type":"string","description":"Reference asset identified as a CAIP-10 Account ID","example":"eip155:137:0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE"},"cost_usd":{"type":"number","format":"double","example":10.140679211841073},"cost_asset_atomic":{"$ref":"#/components/schemas/BigInt","description":"Atomic cost in the reference asset."},"description":{"type":"string","description":"Descriptor for the cost."},"limit":{"type":"integer","format":"int64","description":"Upper bound spending limit for the cost (if applicable).","example":802300}},"additionalProperties":false},"Quote":{"type":"object","required":["id","router","assets","costs","total"],"description":"Comprehensive cost breakdown for token creation across selected chains. Includes all fees required for deployment, cross-chain messaging, and initial liquidity provision. Use this information to ensure sufficient funds before initiating token creation.\n","properties":{"id":{"type":"string","description":"Unique identifier for the quote."},"router":{"type":"string","description":"The routing provider / type simulating the quote."},"assets":{"type":"array","description":"List of assets involved in the quote.","items":{"$ref":"#/components/schemas/Asset"}},"initial_buy_amount":{"$ref":"#/components/schemas/BigInt","description":"The token amount transfered to the creation as part of the initial buy."},"costs":{"type":"array","items":{"$ref":"#/components/schemas/Cost"}},"total":{"$ref":"#/components/schemas/Cost"}},"additionalProperties":false},"GetPrintQuote_Response":{"type":"object","required":["quote"],"properties":{"quote":{"$ref":"#/components/schemas/Quote"}},"additionalProperties":false},"Error":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","description":"Machine-readable error code","example":"INVALID_CHAIN"},"message":{"type":"string","description":"Human-readable error message","example":"The specified chain 'eip155:999' is not supported"},"details":{"type":"object","description":"Additional error context","additionalProperties":true},"request_id":{"type":"string","format":"uuid","description":"Unique request identifier for debugging","example":"123e4567-e89b-12d3-a456-426614174000"}}}},"additionalProperties":false},"PrintToken_Request":{"type":"object","required":["creator_accounts","name","symbol","description","image","chains","initial_buy"],"properties":{"creator_account":{"$ref":"#/components/schemas/CAIP_10_Account","description":"CAIP-10 account identifier of the token creator.","deprecated":true},"creator_accounts":{"type":"array","description":"Array of CAIP-10 account identifiers for the token creator.","items":{"$ref":"#/components/schemas/CAIP_10_Account"},"minItems":1},"name":{"type":"string"},"symbol":{"type":"string"},"description":{"type":"string"},"image":{"type":"string","format":"byte"},"external_links":{"type":"object","description":"Optional external links related to the telecoin.\nEmpty strings are ignored.\n","properties":{"website":{"type":"string"},"x":{"type":"string"},"telegram":{"type":"string"},"github":{"type":"string"}}},"chains":{"type":"array","description":"Array of chains where the token will be deployed.","items":{"$ref":"#/components/schemas/CAIP_2_Chain"},"minItems":1,"maxItems":10,"uniqueItems":true},"initial_buy":{"$ref":"#/components/schemas/VariableInitialBuy"},"graduation_threshold_per_chain_usd":{"type":"integer","minimum":15000,"maximum":1000000,"description":"The graduation threshold (bonding curve size) per chain in USD. Min: $15,000, max: $1,000,000. Defaults to $69,000 USD.\n"},"custom_fees":{"type":"object","description":"Optional custom fee configuration.\nFees are in basis points (100 bps = 1%).\nIf omitted, defaults are used.\n","properties":{"bonding_curve_dev_fee_bps":{"type":"integer","minimum":0,"maximum":120},"amm_dev_fee_bps":{"type":"integer","minimum":0,"maximum":140}}},"fee_sink":{"type":"string","enum":["dev","stake_pool","buyback","liquidity_pool"],"description":"Where telecoin fees are directed.\n- dev: Creator wallet receives fees (default)\n- stake_pool: Proof of Belief staking pool rewards stakers\n- buyback: Buy back and burn tokens (Solana only)\n- liquidity_pool: Compound fees into LP (Solana only, post-graduation)\nDefaults to \"dev\" if omitted.\n"},"telecoin_supply_on_curve_ratio_bps":{"type":"integer","minimum":6000,"maximum":8500,"description":"Ratio of the telecoin supply sold on the bonding curve, in basis points.\nThe remainder is deposited into the AMM after graduation.\nCan be used to control initial market cap.\nSee docs for formulas.\nOmit or use 0 for a default.\n"},"max_telecoin_supply":{"type":"string","enum":["100_million","1_billion","10_billion"],"description":"The maximum total telecoin supply across all chains.\nDefaults to 1 billion if omitted.\n"}},"additionalProperties":false},"Payload_Evm":{"title":"Payload (EVM)","type":"object","required":["calldata","to","value","gas_limit"],"properties":{"to":{"$ref":"#/components/schemas/CAIP_10_Account","description":"The CAIP-10 account identifier to send the transaction to."},"calldata":{"type":"string","format":"byte"},"value":{"type":"string"},"gas_limit":{"type":"integer","format":"int64"}},"additionalProperties":false},"Payload_Svm_Ixs_AccountMeta":{"type":"object","required":["pubkey","is_signer","is_writable"],"properties":{"pubkey":{"type":"string","description":"Base58-encoded public key."},"is_signer":{"type":"boolean","description":"Whether the account must sign the transaction."},"is_writable":{"type":"boolean","description":"Whether the account is writable by the program."}},"additionalProperties":false},"Payload_Svm_Ixs":{"type":"object","required":["program_id","accounts","data"],"properties":{"program_id":{"type":"string","description":"Base58-encoded Solana program id."},"accounts":{"type":"array","description":"The accounts to pass to the program in the order they are expected. Can be empty.","items":{"$ref":"#/components/schemas/Payload_Svm_Ixs_AccountMeta"}},"data":{"type":"string","description":"Serialized instruction params as a base64 string."}},"additionalProperties":false},"Payload_Svm":{"title":"Payload (SVM)","type":"object","required":["mint_address","ixs"],"properties":{"mint_address":{"$ref":"#/components/schemas/CAIP_10_Account","description":"The expected address of the telecoin mint."},"ixs":{"type":"array","description":"List of Solana instructions to include in the transaction.","items":{"$ref":"#/components/schemas/Payload_Svm_Ixs"}},"lookup_table":{"type":"string","description":"Use this lookup table to minimize the tx size."}},"additionalProperties":false},"Payload":{"type":"object","allOf":[{"type":"object","properties":{"hash":{"type":"string","format":"byte"}},"additionalProperties":false},{"oneOf":[{"$ref":"#/components/schemas/Payload_Evm"},{"$ref":"#/components/schemas/Payload_Svm"}]}]},"PrintToken_Response":{"type":"object","required":["token_id","payload","quote","payload_hash"],"properties":{"token_id":{"type":"string","description":"The cross-chain token identifier."},"payload":{"$ref":"#/components/schemas/Payload"},"quote":{"$ref":"#/components/schemas/Quote"}},"additionalProperties":false},"GetToken_Response":{"type":"object","required":["id","creatorAddresses","name","symbol","description","imageUrl","chains","createdAt","curveProperties"],"properties":{"id":{"type":"string","description":"Cross-chain unique identifier for the token"},"creatorAddresses":{"type":"array","items":{"$ref":"#/components/schemas/CAIP_10_Account"},"description":"List of creator addresses for the token"},"name":{"type":"string","description":"Token name"},"symbol":{"type":"string","description":"Token symbol"},"description":{"type":"string","description":"Token description"},"imageUrl":{"type":"string","description":"URL to token image"},"externalLinks":{"type":"object","description":"External links for the token","properties":{"website":{"type":"string"},"telegram":{"type":"string"},"x":{"type":"string"},"github":{"type":"string"}}},"chains":{"type":"array","items":{"$ref":"#/components/schemas/CAIP_2_Chain"},"description":"List of chains where token is deployed"},"curveProperties":{"type":"object","required":["homeChain","basePairAddresses","referenceAssetId","maxSupplyExponent","completionThresholdBasisPoints","graduationThresholdRefAtomic","initialPriceRefAtomic"],"properties":{"homeChain":{"type":"string","description":"The origin chain which was used to propagate the other remote creations."},"basePairAddresses":{"type":"array","items":{"type":"string"},"description":"List of base pair addresses for the token"},"referenceAssetId":{"type":"string","description":"The reference asset ID for the token"},"maxSupplyExponent":{"type":"integer","description":"The maximum supply exponent for the token"},"completionThresholdBasisPoints":{"type":"integer","description":"The completion threshold basis points for the token"},"graduationThresholdRefAtomic":{"type":"string","description":"The graduation threshold reference atomic for the token"},"initialPriceRefAtomic":{"type":"string","description":"The initial price reference atomic for the token"}},"additionalProperties":false}},"additionalProperties":false},"XChainDeploymentTransaction":{"type":"object","required":["chain_id","message_id","provider"],"properties":{"chain_id":{"$ref":"#/components/schemas/CAIP_2_Chain"},"message_id":{"type":"string","description":"The message ID to track the x-chain deployment."},"transport":{"type":"string","description":"The provider of the x-chain deployment which the id is relevant to.","enum":["AXELAR"]}},"additionalProperties":false},"TokenDeployment":{"type":"object","required":["chain_id","status"],"description":"Real-time status information for a token's deployment on a specific blockchain. Tracks the complete lifecycle from initial deployment through to trading availability, including cross-chain message propagation for remote chains.\n","properties":{"chain_id":{"$ref":"#/components/schemas/CAIP_2_Chain"},"status":{"type":"string","enum":["pending","deploying","live","failed"]},"x_chain_transaction":{"$ref":"#/components/schemas/XChainDeploymentTransaction"},"graduation_completion_percent":{"type":"number","format":"double"},"contract_address":{"type":"string"},"transaction_id":{"type":"string"},"block_ts_secs":{"type":"integer","format":"int64"}},"additionalProperties":false},"GetTokenStatus_Response":{"type":"object","required":["deployments"],"properties":{"deployments":{"type":"array","items":{"$ref":"#/components/schemas/TokenDeployment"}}},"additionalProperties":false}},"responses":{"BadRequest":{"description":"The request contains invalid parameters or violates API constraints. Common causes:\n- Invalid CAIP-2 chain identifier format\n- Unsupported blockchain network specified\n- Missing required fields in request body\n- Invalid initial buy configuration (e.g., percentage > 100%)\n- Token metadata exceeds size limits\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalidChain":{"summary":"Invalid chain identifier","value":{"error":{"code":"INVALID_CHAIN","message":"The specified chain 'invalid-chain' is not a valid CAIP-2 identifier"}}},"missingField":{"summary":"Missing required field","value":{"error":{"code":"MISSING_FIELD","message":"Required field 'initial_buy' is missing"}}}}}}},"Unauthorized":{"description":"Authentication failed or required credentials are missing. Ensure:\n- Valid OAuth2 token is included in the Authorization header\n- Token has required scopes for the requested operation\n- Token has not expired\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":{"code":"UNAUTHORIZED","message":"Invalid or expired access token"}}}}},"RateLimited":{"description":"Request rate limit exceeded. The API implements rate limiting to ensure fair usage:\n- Check X-RateLimit headers for limit details\n- Implement exponential backoff for retries\n- Consider caching responses where appropriate\n","headers":{"X-RateLimit-Limit":{"description":"Request limit per hour","schema":{"type":"integer"},"example":100},"X-RateLimit-Remaining":{"description":"Remaining requests in current window","schema":{"type":"integer"},"example":0},"X-RateLimit-Reset":{"description":"Unix timestamp when rate limit resets","schema":{"type":"integer"},"example":1642338000}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":{"code":"RATE_LIMITED","message":"Rate limit exceeded. Please retry after 1642338000"}}}}},"InternalError":{"description":"An unexpected error occurred processing the request. These are typically transient issues:\n- Retry with exponential backoff\n- Check Printr status page for system-wide issues\n- Contact support if errors persist with request_id for debugging\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}},"example":{"error":{"code":"INTERNAL_ERROR","message":"An unexpected error occurred","request_id":"123e4567-e89b-12d3-a456-426614174000"}}}},"NotFound":{"description":"The requested resource does not exist. This can occur when:\n- Token ID does not match any created tokens\n- Token exists but has no deployments yet\n- Attempting to access tokens from other platforms not yet indexed\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":{"code":"NOT_FOUND","message":"Token not found"}}}}}}}}